#nosotros {
  background-color: white;
  padding: 25px;
  margin: 25px 0px; }
  #nosotros p {
    text-align: justify; }
  #nosotros h3 {
    font-size: large; }
  #nosotros video {
    width: 100%;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: #26394d 0px 20px 30px -10px; }

#contactanos {
  background-color: white;
  padding: 25px;
  margin: 25px 0px; }

#galeria {
  background-color: white;
  padding: 25px;
  margin: 25px 0px; }

@media (min-width: 768px) {
  #nosotros {
    padding: 80px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #nosotros h3 {
      font-size: larger; }
    #nosotros p {
      font-size: small; }
    #nosotros video {
      width: 50%;
      margin-left: 30px; }
  #contactanos iframe {
    width: 100%; } }

@media (min-width: 992px) {
  #nosotros {
    padding: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #nosotros video {
      width: 50%;
      margin-left: 30px; }
    #nosotros h3 {
      font-size: larger; }
    #nosotros p {
      font-size: medium; } }
